.DataTable-root .MuiDataGrid-row:first-of-type {
  border-top: none;
}

.DataTable-root .MuiDataGrid-cell:first-of-type {
  border-left: none;
}

.DataTable-root .MuiDataGrid-columnHeader:first-of-type {
  border-left: none;
}

.DataTable-root .MuiDataGrid-footerContainer:first-of-type {
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.DataTable-root .MuiDataGrid-main > div:first-of-type {
  overflow: auto;
}

.DataTable-root .MuiDataGrid-columnHeaders:first-of-type {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.DataTable-root .MuiDataGrid-virtualScrollerContent:first-of-type {
  min-height: 100%;
}

.DataTable-root .MuiDataGrid-rowContainer:first-of-type {
  border-top: none;
}

.DataTable-root .MuiDataGrid-columnHeaderRow:first-of-type {
  border-top: none;
}